---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/convertLead?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&leadId=blahblahblah&scope=crmapi&xmlData=%0A%3CPotentials%3E%0A%20%20%3Crow%20no=%221%22%3E%0A%20%20%20%20%3Coption%20val=%22createPotential%22%3Efalse%3C/option%3E%0A%20%20%3C/row%3E%0A%3C/Potentials%3E%0A
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"error":{"message":"Unable to process your request. Please verify if the name and value is appropriate for the \"leadId\" parameter.","code":"4600"},"uri":"/crm/private/json/Leads/convertLead"}}
  recorded_at: Wed, 29 Apr 2015 18:49:14 GMT
recorded_with: VCR 2.9.3
