---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/deleteRecords?authtoken=4bc37ba80b66d9e520758f84a170513d&id=1418626000000184468&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"message":"Record Id(s) : 1418626000000184468,Record(s) deleted successfully","code":"5000"},"uri":"/crm/private/json/Leads/deleteRecords"}}
  recorded_at: Tue, 19 May 2015 18:41:27 GMT
recorded_with: VCR 2.9.3
