---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/deleteRecords?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&id=12345&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"message":"Record Id(s) : 12345,Record(s) deleted successfully","code":"5000"},"uri":"/crm/private/json/Leads/deleteRecords"}}
  recorded_at: Thu, 23 Apr 2015 14:49:26 GMT
recorded_with: VCR 2.9.3
