---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/deleteRecords
    body:
      encoding: US-ASCII
      string: authtoken=44fd8ab4cc5500006bc3a2952b0bde39&scope=crmapi&id=bogus123
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n<response uri=\"/crm/private/xml/Leads/deleteRecords\"><error><code>4600</code><message>Unable
        to process your request. Please verify if the name and value is appropriate
        for the \"id\" parameter.</message></error></response>\r\n"
  recorded_at: Wed, 15 Apr 2015 20:37:48 GMT
recorded_with: VCR 2.9.3
