---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/deleteRecords
    body:
      encoding: US-ASCII
      string: authtoken=44fd8ab4cc5500006bc3a2952b0bde39&scope=crmapi&id=12345
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n<response uri=\"/crm/private/xml/Leads/deleteRecords\"><result><code>5000</code><message>Record
        Id(s) : 12345,Record(s) deleted successfully</message></result></response>\r\n"
  recorded_at: Wed, 15 Apr 2015 20:17:27 GMT
recorded_with: VCR 2.9.3
