---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Users/getUsers?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&scope=crmapi&type=AllUsers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"users":{"user":[{"zip":"null","phone":"null","fax":"null","status":"active","website":"null","street":"null","state":"null","city":"null","country":"null","content":"Dexter Heng","id":"1465372000000083003","timezone":"PST8PDT","zuid":"50755502","email":"dexter@theworkinggroup.ca","role":"CEO","language":"en_US","confirm":"true","profile":"Administrator","mobile":"null"},{"zip":"null","phone":"null","fax":"null","status":"active","website":"null","street":"null","state":"null","city":"null","country":"null","content":"blah blah","id":"1465372000000084079","timezone":"PST8PDT","zuid":"null","email":"jack@twg.ca","role":"CEO","language":"en_US","confirm":"false","profile":"Administrator","mobile":"null"}]}}
  recorded_at: Fri, 24 Apr 2015 16:41:36 GMT
recorded_with: VCR 2.9.3
