---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Users/getUsers?authtoken=4bc37ba80b66d9e520758f84a170513d&scope=crmapi&type=AllUsers
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"users":{"user":[{"zip":"null","phone":"null","fax":"null","status":"active","website":"null","street":"null","state":"null","city":"null","country":"null","content":"jonathan+zohosandbox","id":"1418626000000083001","timezone":"America/Toronto","zuid":"49923164","email":"jonathan+zohosandbox@theworkinggroup.ca","role":"Co-Founder","language":"en_CA","confirm":"true","profile":"Administrator","mobile":"null"},{"zip":"null","phone":"null","fax":"null","status":"active","website":"null","street":"null","state":"null","city":"null","country":"null","content":"Peter Coy","id":"1418626000000084023","timezone":"Canada/Eastern","zuid":"49930830","email":"petercoy+organics@prodigm.ca","role":"Co-Founder","language":"en_US","confirm":"true","profile":"Administrator","mobile":"null"},{"zip":"null","phone":"null","fax":"null","status":"disabled","website":"null","street":"null","state":"null","city":"nu[...]
