---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/getRecords?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&fromIndex=1&scope=crmapi&toIndex=50
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Leads":{"row":[{"no":"1","FL":[{"content":"1465372000000109083","val":"LEADID"},{"content":"1465372000000083003","val":"SMOWNERID"},{"content":"Dexter Heng","val":"Lead Owner"},{"content":"<undefined>","val":"Company"},{"content":"Frost","val":"Last Name"},{"content":"emma.frost@twg.ca","val":"Email"},{"content":"0","val":"No of Employees"},{"content":"0","val":"Annual Revenue"},{"content":"1465372000000083003","val":"SMCREATORID"},{"content":"Dexter Heng","val":"Created By"},{"content":"1465372000000083003","val":"MODIFIEDBY"},{"content":"Dexter Heng","val":"Modified By"},{"content":"2015-04-29 12:54:39","val":"Created Time"},{"content":"2015-04-29 12:54:39","val":"Modified Time"},{"content[...]
