---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/getRecordById?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&id=1418626000000147027&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Leads":{"row":{"no":"1","FL":[{"content":"1418626000000147027","val":"LEADID"},{"content":"1418626000000083001","val":"SMOWNERID"},{"content":"jonathan+zohosandbox","val":"Lead Owner"},{"content":"<undefined>","val":"Company"},{"content":"Grey","val":"Last Name"},{"content":"jean.grey@twg.ca","val":"Email"},{"content":"UnContacted","val":"Lead Status"},{"content":"1418626000000083001","val":"SMCREATORID"},{"content":"jonathan+zohosandbox","val":"Created By"},{"content":"1418626000000083001","val":"MODIFIEDBY"},{"content":"jonathan+zohosandbox","val":"Modified By"},{"content":"2015-05-06 11:07:33","val":"Created Time"},{"content":"2015-05-06 11:07:33","val":"Modified Time"},{"content":"false","val":"Email Opt Out"},{"content":"CAD","val":"Currency"},{"content":"1.000000000","val":"Exchange Rate"},{"content":"2015-05-06 11:07:33","val":"Last Activity Time"},{"content":"Customer - Residential","val":"Account Type"},{"content":" Grey","val":"Primary Contact Name"},{"content":"0","val":"Age of lead in days"},{"content":"false","val":"Do not Call"},{"content":"false","val":"Contacted"},{"content":"6","val":"Day Loaded"},{"content":"5","val":"Month Loaded"},{"content":"-Select an ACTION-","val":"ACTION"},{"content":"NEW_LEADS","val":"Processed Status"}]}}},"uri":"/crm/private/json/Leads/getRecordById"}}
  recorded_at: Wed, 06 May 2015 15:15:42 GMT
recorded_with: VCR 2.9.3
