---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/getRecordById?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&idlist=1465372000000109033%3B1465372000000109039&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Leads":{"row":[{"no":"1","FL":[{"content":"1465372000000109033","val":"LEADID"},{"content":"1465372000000083003","val":"SMOWNERID"},{"content":"Dexter Heng","val":"Lead Owner"},{"content":"<undefined>","val":"Company"},{"content":"Grey","val":"Last Name"},{"content":"jean.grey@twg.ca","val":"Email"},{"content":"0","val":"No of Employees"},{"content":"0","val":"Annual Revenue"},{"content":"1465372000000083003","val":"SMCREATORID"},{"content":"Dexter Heng","val":"Created By"},{"content":"1465372000000083003","val":"MODIFIEDBY"},{"content":"Dexter Heng","val":"Modified By"},{"content":"2015-04-29 10:55:06","val":"Created Time"},{"content":"2015-04-29 10:55:06","val":"Modified Time"},{"content":"false","val":"Email Opt Out"},{"content":"2015-04-29 10:55:06","val":"Last Activity Time"}]},{"no":"2","FL":[{"content":"1465372000000109039","val":"LEADID"},{"content":"1465372000000083003","val":"SMOWNERID"},{"content":"Dexter Heng","val":"Lead Owner"},{"content":"<undefined>","val":"Company"},{"content":"Pride","val":"Last Name"},{"content":"kitty.pride@twg.ca","val":"Email"},{"content":"0","val":"No of Employees"},{"content":"0","val":"Annual Revenue"},{"content":"1465372000000083003","val":"SMCREATORID"},{"content":"Dexter Heng","val":"Created By"},{"content":"1465372000000083003","val":"MODIFIEDBY"},{"content":"Dexter Heng","val":"Modified By"},{"content":"2015-04-29 10:55:09","val":"Created Time"},{"content":"2015-04-29 10:55:09","val":"Modified Time"},{"content":"false","val":"Email Opt Out"},{"content":"2015-04-29 10:55:09","val":"Last Activity Time"}]}]}},"uri":"/crm/private/json/Leads/getRecordById"}}
  recorded_at: Wed, 29 Apr 2015 18:01:18 GMT
recorded_with: VCR 2.9.3
