---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/insertRecords
    body:
      encoding: US-ASCII
      string: authtoken=44fd8ab4cc5500006bc3a2952b0bde39&scope=crmapi&newFormat=1&xmlData=%0A%3CLeads%3E%0A++%3Crow+no%3D%221%22%3E%0A++++%3CFL+val%3D%22Email%22%3Emeyer%40yahoo.com%3C%2FFL%3E%0A++++%3CFL+val%3D%22Company%22%3EOrganics+Live%3C%2FFL%3E%0A++++%3CFL+val%3D%22Last+Name%22%3EOwner%3C%2FFL%3E%0A++%3C%2Frow%3E%0A%3C%2FLeads%3E%0A&duplicateCheck=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n<response uri=\"/crm/private/xml/Leads/insertRecords\"><result><message>Record(s)
        already exists</message><recorddetail><FL val=\"Id\">1465372000000086039</FL><FL
        val=\"Created Time\">2015-04-14 13:43:32</FL><FL val=\"Modified Time\">2015-04-14
        13:43:32</FL><FL val=\"Created By\"><![CDATA[Dexter Heng]]></FL><FL val=\"Modified
        By\"><![CDATA[Dexter Heng]]></FL></recorddetail></result></response>\r\n"
  recorded_at: Wed, 15 Apr 2015 20:35:58 GMT
recorded_with: VCR 2.9.3
