---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/insertRecords
    body:
      encoding: US-ASCII
      string: authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&scope=crmapi&newFormat=1&xmlData=%0A%3CLeads%3E%0A++%3Crow+no%3D%221%22%3E%0A++++%3CFL+val%3D%22Email%22%3Eabel.n.willin%40twg.ca%3C%2FFL%3E%0A++++%3CFL+val%3D%22Company%22%3EAbel+N+Willin+Enterprises%3C%2FFL%3E%0A++++%3CFL+val%3D%22Last+Name%22%3EWillin%3C%2FFL%3E%0A++%3C%2Frow%3E%0A%3C%2FLeads%3E%0A&duplicateCheck=1
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <response uri="/crm/private/xml/Leads/insertRecords"><result><message>Record(s) added successfully</message><recorddetail><FL val="Id">1465372000000094013</FL><FL val="Created Time">2015-04-22 13:54:07</FL><FL val="Modified Time">2015-04-22 13:54:07</FL><FL val="Created By"><![CDATA[Dexter Heng]]></FL><FL val="Modified By"><![CDATA[Dexter Heng]]></FL></recorddetail></result></response>
  recorded_at: Wed, 22 Apr 2015 20:54:07 GMT
recorded_with: VCR 2.9.3
