---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Contacts/searchRecords?authtoken=4bc37ba80b66d9e520758f84a170513d&criteria=((Last%20Name:Munroe))&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Contacts":{"row":{"no":"1","FL":[{"content":"1418626000000184477","val":"CONTACTID"},{"content":"1418626000000083001","val":"SMOWNERID"},{"content":"jonathan+zohosandbox","val":"Contact Owner"},{"content":"Ororo","val":"First Name"},{"content":"Munroe","val":"Last Name"},{"content":"ororo.munroe@twg.ca","val":"Email"},{"content":"1418626000000083001","val":"SMCREATORID"},{"content":"jonathan+zohosandbox","val":"Created By"},{"content":"1418626000000083001","val":"MODIFIEDBY"},{"content":"jonathan+zohosandbox","val":"Modified By"},{"content":"2015-05-19 14:20:24","val":"Created Time"},{"content":"2015-05-19 14:20:24","val":"Modified Time"},{"content":"false","val":"Email Opt Out"},{"content":"2015-05-19 14:20:24","val":"Last Activity Time"},{"content":"false","val":"Do not Call"},{"content":"19","val":"Day Loaded"},{"content":"5","val":"Month Loaded"},{"content":"Consumer","val":"Relationship"},{"content":"-Select an ACTION-","val":"ACTION"},{"content":"NEW_CUSTOMERS","val":"Processed Status"},{"content":"false","val":"Alert Franchisee New Customer"}]}}},"uri":"/crm/private/json/Contacts/searchRecords"}}
  recorded_at: Tue, 19 May 2015 18:24:31 GMT
recorded_with: VCR 2.9.3
