---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Contacts/searchRecords?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&criteria=((Last%20Name:Munroe))&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Contacts":{"row":{"no":"1","FL":[{"content":"1465372000000108041","val":"CONTACTID"},{"content":"1465372000000083003","val":"SMOWNERID"},{"content":"Dexter Heng","val":"Contact Owner"},{"content":"Ororo","val":"First Name"},{"content":"Munroe","val":"Last Name"},{"content":"ororo.munroe@twg.ca","val":"Email"},{"content":"1465372000000083003","val":"SMCREATORID"},{"content":"Dexter Heng","val":"Created By"},{"content":"1465372000000083003","val":"MODIFIEDBY"},{"content":"Dexter Heng","val":"Modified By"},{"content":"2015-04-29 11:15:56","val":"Created Time"},{"content":"2015-04-29 11:16:11","val":"Modified Time"},{"content":"false","val":"Email Opt Out"},{"content":"false","val":"Add to QuickBooks"},{"content":"2015-04-29 11:16:11","val":"Last Activity Time"}]}}},"uri":"/crm/private/json/Contacts/searchRecords"}}
  recorded_at: Wed, 29 Apr 2015 18:18:12 GMT
recorded_with: VCR 2.9.3
