---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/searchRecords?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&criteria=((Email:charles.xavier@twg.ca))&scope=crmapi&selectColumns=Leads(Last%20Name)
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Leads":{"row":{"no":"1","FL":[{"content":"1418626000000147025","val":"LEADID"},{"content":"Xavier","val":"Last Name"}]}}},"uri":"/crm/private/json/Leads/searchRecords"}}
  recorded_at: Wed, 06 May 2015 15:17:45 GMT
recorded_with: VCR 2.9.3
