---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/searchRecords?authtoken=4bc37ba80b66d9e520758f84a170513d&criteria=((Email:bruce.wayne@twg.ca))&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"nodata":{"message":"There is no data to show","code":"4422"},"uri":"/crm/private/json/Leads/searchRecords"}}
  recorded_at: Tue, 19 May 2015 18:24:30 GMT
recorded_with: VCR 2.9.3
