---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/insertRecords
    body:
      encoding: US-ASCII
      string: authtoken=4bc37ba80b66d9e520758f84a170513d&scope=crmapi&newFormat=1&wfTrigger=true&xmlData=%0A%3CLeads%3E%0A++%3Crow+no%3D%221%22%3E%0A++++%3CFL+val%3D%22Email%22%3Erobert.drake%40twg.ca%3C%2FFL%3E%0A++++%3CFL+val%3D%22Company%22%3E%26lt%3Bundefined%26gt%3B%3C%2FFL%3E%0A++++%3CFL+val%3D%22Last+Name%22%3EDrake%3C%2FFL%3E%0A++%3C%2Frow%3E%0A%3C%2FLeads%3E%0A&duplicateCheck=1&version=4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <response uri="/crm/private/xml/Leads/insertRecords"><result><row no="1"><success><code>2000</code><details><FL val="Id">1418626000000184885</FL><FL val="Created Time">2015-05-19 14:32:27</FL><FL val="Modified Time">2015-05-19 14:32:27</FL><FL val="Created By"><![CDATA[jonathan+zohosandbox]]></FL><FL val="Modified By"><![CDATA[jonathan+zohosandbox]]></FL></details></success></row></result></response>
  recorded_at: Tue, 19 May 2015 18:30:34 GMT
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/getSearchRecords?authtoken=4bc37ba80b66d9e520758f84a170513d&scope=crmapi&searchCondition=(Last%20Name%7C=%7CDrake)&selectColumns=All
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response":{"result":{"Leads":{"row":{"no":"1","FL":[{"content":"1418626000000184885","val":"LEADID"},{"content":"1418626000000083001","val":"SMOWNERID"},{"content":"jonathan+zohosandbox","val":"Lead Owner"},{"content":"<undefined>","val":"Company"},{"content":"Drake","val":"Last Name"},{"content":"robert.drake@twg.ca","val":"Email"},{"content":"UnContacted","val":"Lead Status"},{"content":"1418626000000083001","val":"SMCREATORID"},{"content":"jonathan+zohosandbox","val":"Created By"},{"content":"1418626000000083001","val":"MODIFIEDBY"},{"content":"jonathan+zohosandbox","val":"Modified By"},{"content":"2015-05-19 14:32:27","val":"Created Time"},{"content":"2015-05-19 14:32:27","val":"Modified Time"},{"content":"false","val":"Email Opt Out"},{"content":"CAD","val":"Currency"},{"content":"1.000000000","val":"Exchange Rate"},{"content":"2015-05-19 14:32:27","val":"Last Activity Time"},{"content":"Customer - Residential","val":"Account Type"},{"content":" Drake","val":"Primary Contact Name"},{"content":"0","val":"Age of lead in days"},{"content":"false","val":"Do not Call"},{"content":"false","val":"Contacted"},{"content":"19","val":"Day Loaded"},{"content":"5","val":"Month Loaded"},{"content":"-Select an ACTION-","val":"ACTION"},{"content":"NEW_LEADS","val":"Processed Status"}]}}},"uri":"/crm/private/json/Leads/getSearchRecords"}}
  recorded_at: Tue, 19 May 2015 18:30:35 GMT
recorded_with: VCR 2.9.3
