---
http_interactions:
- request:
    method: get
    uri: https://crm.zoho.com/crm/private/json/Leads/searchRecords?authtoken=ccabd7ff5cb3f1ad9b0bb27a17a20626&criteria=((Em%7Cail:charles.xavier@twg.ca))&scope=crmapi
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/jsonp;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        {"response": {"uri":"/crm/private/json/Leads/searchRecords","error": {"code":4832,"message":"API call cannot be completed as the Criteria parameter contains empty field name"}}}
  recorded_at: Wed, 06 May 2015 15:17:44 GMT
recorded_with: VCR 2.9.3
