---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/updateRecords
    body:
      encoding: US-ASCII
      string: authtoken=4bc37ba80b66d9e520758f84a170513d&scope=crmapi&newFormat=1&wfTrigger=true&xmlData=%0A%3CLeads%3E%0A++%3Crow+no%3D%221%22%3E%0A++++%3CFL+val%3D%22Email%22%3Ejean.grey.summers%40twg.ca%3C%2FFL%3E%0A++++%3CFL+val%3D%22Id%22%3E1418626000000184467%3C%2FFL%3E%0A++%3C%2Frow%3E%0A%3C%2FLeads%3E%0A&version=4
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="UTF-8" ?>
        <response uri="/crm/private/xml/Leads/updateRecords"><result><row no="1"><success><code>2001</code><details><FL val="Id">1418626000000184467</FL><FL val="Created Time">2015-05-19 14:20:22</FL><FL val="Modified Time">2015-05-19 15:05:21</FL><FL val="Created By"><![CDATA[jonathan+zohosandbox]]></FL><FL val="Modified By"><![CDATA[jonathan+zohosandbox]]></FL></details></success></row></result></response>
  recorded_at: Tue, 19 May 2015 19:03:29 GMT
recorded_with: VCR 2.9.3
