---
http_interactions:
- request:
    method: post
    uri: https://crm.zoho.com/crm/private/xml/Leads/updateRecords
    body:
      encoding: US-ASCII
      string: authtoken=44fd8ab4cc5500006bc3a2952b0bde39&scope=crmapi&newFormat=1&xmlData=%0A%3CLeads%3E%0A++%3Crow+no%3D%221%22%3E%0A++++%3CFL+val%3D%22Zoho_id%22%3Ebogus%3C%2FFL%3E%0A++++%3CFL+val%3D%22Email%22%3Etest%40email.com%3C%2FFL%3E%0A++%3C%2Frow%3E%0A%3C%2FLeads%3E%0A&id=bogus
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=utf-8
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\" ?>\r\n<response uri=\"/crm/private/xml/Leads/updateRecords\"><error><code>4600</code><message>Unable
        to process your request. Please verify if the name and value is appropriate
        for the \"id\" parameter.</message></error></response>\r\n"
  recorded_at: Wed, 15 Apr 2015 20:31:52 GMT
recorded_with: VCR 2.9.3
